* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.background {
    background-image:url('/images/rose.jpg');
    background-repeat: no-repeat;
    display: block;
}
/* 
.image_hover_bg{
    display:none;
}

.background:hover .image_hover_bg{display:block} */

.header {
    overflow: hidden;
    background-color: black;
    padding: 10px 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: pink;
}

.header a.active {
    background-color: blue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
    #customers td, #customers th {
    border: 2px solid wheat;
    padding: 8px;
    background-color: plum;
}
    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: pink;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.form {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50%;
}

.btn-success {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-left: 3%;
    padding-right: 3%;
}

.addForm {
    margin-left: 30%;
    margin-right: 30%;
}

.error {
    color: red;
}

